* {
	margin: 0;
	padding: 0;
}

.header {
	background-color: #007aff;
	line-height: 80px;
	text-align: center;
	font-size: 30px;
	color: #fff;
}

.header .header_back {
	position: absolute;
	top: 0;
	left: 5px;
	text-decoration: none;
	color: #fff;
	font-size: 25px;
}
.header .header_back:before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 3px solid #fff;
	border-bottom: none;
	border-right: 0;
	transform: rotate(-45deg);
	margin-left: 10px;
}

.list_item {
	text-decoration: none;
	color: black;
	display: inline-block;
	width: 100%;
}


.item_img {
	float: left;
	display: inline-block;
	width: 106px;
	height: 106px;
	/*margin: 30px 20px;*/
	padding: 15px;
}

.item_title {
	margin-left: 146px;
	line-height: 140px;
	font-size: 40px;
	border-bottom: 1px solid #ccc;
}

.item_title:after {
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 5px solid #9c9c9c;
	border-bottom: none;
	border-right: 0;
	transform: rotate(135deg);
	/*margin-left: 600px;*/
	float: right;
	position: relative;
	top: 60px;
	right: 60px;
}